[submodule "Plugins/URoboSim"]
	path = Plugins/URoboSim
	url = git@github.com:NeumannM89/URoboSim.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = git@github.com:robcog-iai/UROSBridge.git
	branch = master
